.holder{
    width: 100%;
    gap: var(--gap-small);
}
.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.horizontal{
    display: flex;
    flex-direction: row;
   
}