.profile-page{
    padding: var(--padding-small);
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    justify-content: center;
    width: 100%;
    align-items: center;
 
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-large);
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--color-text-light);
    padding: var(--padding-large);
}

.profile-text{
    display: flex;
    gap: var(--gap-medium);
    flex-direction: column;
}

.profile-text p{font-size: 14px;
}
svg{
    width: 24px;
    height: 24px;
}

.button-holder{
    display: flex;
    width: 40%;
    gap: var(--gap-medium);
}

.meta{
    display: flex;
    align-items: center;
    text-align: center;
    gap: var(--gap-large);
}

.border{
    width: 1px;
    height: 30px;
    background-color: var(--color-text-light);
}

.private-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1.2);
    padding: var(--padding-medium);
}