.scale{
    transform: scale(0.95);
}


.comment-box-layout{
    display: flex;
    margin: var(--margin-large);
    background-color: var(--color-element) ;
    border-radius: var(--radius-medium);
    gap: var(--gap-medium) ;
}


.scale .comment-box-layout{
    padding: 0px;
    margin: 0px;
}