.generic-header{
    gap: var(--gap-medium);
    display: flex;
    width: 100%;
}

.generic-content{
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    font-size: 0.9rem;
    justify-content: center;
    flex-grow: 1;
}

.username{
    display: flex;
}

.generic-content svg{
    width: 24px;
    height: 24px;
}

.option{
    width: 24px;
    height: 24px;
}