.file-input-wrapper{
  position: relative;
}

.addpost{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.image-preview{
  width: 400px;
  object-fit: contain;
  max-height: 50vh;
}

.hidden-file-input{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: 0;

}


.post-preview-wrapper{

  width: 80%;
  gap: var(--gap-medium);

}

.post-content{
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

.post-content .input{
  height: 70px;
  resize: vertical;
}


.add-btns{
  display: flex;
  width: fit-content;
  justify-self: flex-start;
}

.add-btns svg{
  width: 20px;
}

.add-btn-holder{
  display: flex;
  align-items: center;
  gap: var(--gap-large);
  width: 100%;
}


.select{
  padding: var(--padding-small);
  background-color: transparent;
  border-radius: var(--radius-small);
}

select.select option{
  background: none;
  background-color: transparent;
  color: black;
}
