.chatbox-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.messages{
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;
}

.input-field-container{
    display: flex;
    padding: var(--padding-small);
}