.input-field{
    padding: var(--padding-medium);
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: var(--radius-large);
    width: 50%;
    gap: var(--gap-medium);
    background-color: var(--color-element);
}

.input-field:hover{
    width: 70%;
}
.enlarge{
    width: 100%;
}


.search-page{
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.user-display{
    gap: var(--gap-medium);
    flex-direction: column;
    display: flex;
}