

/* Messages */

.base-message{
    
    padding: var(--padding-medium);
    margin: var(--margin-small);
    border-radius: var(--radius-medium);
}


.sender{
    align-self: flex-end;
}

.receiver{
    color: var(--color-text-on-accent);
}

.background-sender{
    margin-left: 30%;
    border: 1px ridge var(--flamingo);
}


.background-receiver{
    margin-right: 30%;
    background-color: var(--flamingo);
    color: var(--color-text-on-accent);
}


/* Holder */

.holder{
    width: 100%;
    gap: var(--gap-small);
}
.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.horizontal{
    display: flex;
    flex-direction: row;
   
}



/* Lazy laoder */
.observer{
    width: 100%;
    height: 100px;
}

