.chatbox{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--padding-medium);
    overflow-y: scroll;
    gap: var(--gap-large);
}

.chip{
    border:1px solid var(--color-text-light);
    border-radius: var(--radius-medium);
    padding:var(--padding-medium);
    width:fit-content;
}

.chip:hover{
    border-color: var(--flamingo);
    transform: scale(1.05);
    
}