.icon-xl{
    width: 250px;
    height: 250px;
    border-radius: var(--radius-medium);
}

.splash-screen{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/DancingScript-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}




.appname{
    font-size: 4rem;
    font-family:CustomFont;
    font-weight: 20;
    color:var(--color-text)
}